<main aria-label="content">
	<div class="bio">
		<!-- <img src="https://vignette.wikia.nocookie.net/filthy-frank/images/8/8d/516c32f08e03d.png/revision/latest?cb=20151019010624"/> -->
  	<h1 class="intro">Ian Steele is a product designer based out of southern Illinois</h1>
  </div>
  <div class="work">
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/4195718/new-logo.jpg"/>
			<div class="project-title">
				<p>
		  		Personal Rebrand
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/3478382/atat.jpg"/>
			<div class="project-title">
				<p>
		  		Ah! It's a Tiger
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/3003582/witchinghour.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2989859/millennialastronaut.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2975426/dribbble-means-experiment.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2663003/marketing_v_product_dribbble.png"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2557139/pipboy.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2215466/grouperdribbble.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
		<a class="project-thumb" href="#">
			<img src="https://cdn.dribbble.com/users/136352/screenshots/2213126/hog.jpg"/>
			<div class="project-title">
				<p>
		  		poop
		  	</p>
		  </div>
		</a>
	</div>
</main>