<main aria-label="content">
  <h1 class="intro">Making products not suck</h1>
  <div class="projects">
	  <div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
		<div class="project-thumb">
		</div>
	</div>
</main>