/* --------------------------
  Base Styles
--------------------------- */
:root {
  --baseline: 1.8;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
	background-color: $brand-primary;
  color: $white;
  font-family: $font-display;
  font-size: 16px;
  line-height: var(--baseline);
}

li {
  list-style-type: none;
}

.list--inline {

  li {
    margin-bottom: 1rem;


    p:before {
      color: $brand-secondary;
      content: "\2022";
      display: inline-block;
      font-weight: bold;
      width: 1em;
    }
  }

}

img,
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

//--------------------------
// Buttons
//--------------------------

a {
  border-bottom: 2px solid transparent;
  color: $brand-secondary;
  cursor: pointer;
  display: inline-block;
  transition: border-color .2s ease;

  &:focus,
  &:active {
    outline: 0;
  }

  &:focus {
    border-bottom: 2px solid $brand-secondary;
  }

  &:active {
    border-color: transparent;
  }
}
