/* --------------------------
  Base Styles
--------------------------- */
:root {
  --baseline: 1.8;
}

// rvr stands for responsive vertical rhythm
@function rvr($multiple) {
  @return calc(var(--baseline) * $multiple * 1rem);
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
	background-color: $brand-primary;
  color: $white;
  font-size: 16px;
	margin: rvr(8);
  font-family: $font-display;
  line-height: var(--baseline);
}

.list--inline {
  padding-left: 1.825em;
  padding-right: 1.25em;

  li {
    list-style-type: none;
    margin-bottom: 1rem;

    &::before {
      content: "\2022";
      color: $brand-secondary;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

}

main {
	width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

//--------------------------
// Buttons
//--------------------------

a {
  color: $brand-secondary;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  &:hover {
    color: white;
  }
}


/* --------------------------
  Media Queries
--------------------------- */
