/* --------------------------
  Base Styles
--------------------------- */
:root {
  --baseline: 1.8;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
	background-color: $brand-primary;
  color: $white;
  font-family: $font-display;
  font-size: 16px;
  line-height: var(--baseline);
}

li {
  list-style-type: none;
}

.list--inline {
  padding-left: 1.825em;
  padding-right: 1.25em;

  li {
    margin-bottom: 1rem;

    &::before {
      color: $brand-secondary;
      content: "\2022";
      display: inline-block;
      font-weight: bold;
      width: 1em;
    }
  }

}

main {
	width: 100%;
}

img,
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

//--------------------------
// Buttons
//--------------------------

a {
  color: $brand-secondary;
  cursor: pointer;
  display: inline-block;
}
