/* --------------------------
  Base Styles
--------------------------- */

.hero {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	position: relative;
	text-align: center;

	> img {
		bottom: 0;
		display: block;
		height: 40%;
		position: absolute;
		right: 0;
		width: auto;
		z-index: 1;
	}

	.caret {
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid $brand-secondary;
		display: inline-block;
		height: 0;
		margin: 0 auto;
		width: 0;
	}
}

.footer {
	background: white;
	display: block;
	padding: 2rem 0;
	text-align: center;
}

//--------------------------
// Media Queries
//--------------------------

@media screen and (min-width: 768px) {
	.hero {
		align-items: center;
		justify-content: center;
		min-height: 34em;
	}
}
