/* --------------------------
  Base Styles
--------------------------- */

.hero {
	background: url(../img/hero-background.png);
	background-size: cover;
	padding-top: $spacing--xl;
	position: relative;
	text-align: center;
	justify-content: center;
	min-height: 360px;

	> img {
		display: block;
		// border: .25rem solid $brand-secondary;
		// border-radius: 50%;
		margin: 0 auto 1rem auto;
		width: 10rem;
	}

	.caret {
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid $brand-secondary;
		height: 0;
		margin: 0 auto $spacing--xl auto;
		width: 0;
	}
}

.about {
  background: $white;
  border-top: 1rem solid $brand-secondary;
  color: $brand-primary;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;

  * {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
}

.footer {
	background: white;
	display: block;
	padding: 2rem 0;
	text-align: center;
}

//--------------------------
// Media Queries
//--------------------------

@media screen and (min-width: 768px) {
	.hero {
		align-items: center;
		justify-content: center;
		min-height: 34em;
	}
}

@media (min-width: 1200px) {

  .about {
    padding-top: 4em;
  }
}
