/* --------------------------
  Base Styles
--------------------------- */
header{
		padding: $spacing--l;
}

.hero {
	position: relative;

	.hero-content {
		width: 100%;
	}

	.caret {
		border-left: $spacing--s solid transparent;
		border-right: $spacing--s solid transparent;
		border-top: $spacing--s solid $brand-secondary;
		bottom: -$spacing--s;
		height: 0;
		left: 50%;
		margin: 0 auto;
		position: absolute;
		transform: translateX(-50%);
		width: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.about {
  background: $white;
  color: $brand-primary;
	padding: $spacing--l 5%;
  text-align: center;

	> img {
		@include center-block;
		border: .25rem solid $white;
		border-radius: 100%;
		box-shadow: 0 2px $spacing--s rgba(0,0,0,.1);
		display: block;
		margin-bottom: $spacing--l;
		max-width: 160px;
		width: 40%;

	}

	p {
		@include center-block;
		max-width: 560px;
	}

}

.footer {
	background: $brand-tertiary;
	border-top: 1px solid $brand-darken-tertiary;
	display: flex;
	flex-direction: column;
	padding: $spacing--xl;
	text-align: center;

	p {
		margin-bottom: $spacing--s;
	}

	.btn {
		margin-bottom: $spacing--m;
	}

	.social {
		margin-top: $spacing--m;
	}
}

//--------------------------
// Media Queries
//--------------------------

@media screen and (min-width: 768px) {

	header,
	main,
	footer {
		padding: 1rem 3rem;
	}

	.about {
		padding: $spacing--xl;
	}

	.footer {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		.cta * {
			display: inline-block;
		}

		.btn {
			margin-bottom: 0;
			margin-left: $spacing--m;
		}

		.social {
			margin-top: 0;
		}
	}

}

@media (min-width: 1200px) {
	.about {
		padding: calc(#{$spacing--xl} * 2);
	}
}
