/* --------------------------
  Scaffolding
--------------------------- */
html,
body {
    width: 100%;
    height: 100%;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	min-height: 100%;
}

// Header
header {
	grid-area: header;
}

main {
	grid-area: main;
  margin:0 auto;
  overflow: hidden;
}

.about {
  background: $white;
  border-top: 1rem solid $brand-secondary;
  color: $brand-primary;
  padding: 2rem 0 1rem 0;
  text-align: center;

  * {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }
}

footer {
	grid-area: footer;
	grid-column-end: 3;
}

.hero {
	grid-area: hero;
	grid-row: 1 / 2;
}

.projects {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {

  .about * {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {

  .projects {
    grid-gap: 2em;
  }

  .about {
    padding-top: 4em;
    * {
      max-width: 600px;
    }
  }
}
