/* --------------------------
  Scaffolding
--------------------------- */
.page{
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	height: 100vh;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

// Header
header {
	grid-area: header;
}

main {
	grid-area: main;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas: 
		"hero"
		"work";
}

footer {
	grid-area: footer;
	grid-column-end: 3;
}

.hero{
	grid-area: hero;
	grid-row: 1 / 2;
}
.work{
	grid-area: work;
	grid-row: 2 / 3;
	display: grid;
  grid-template-columns: 1fr;
  grid-row-template: min-content;
}