/* --------------------------
  Scaffolding
--------------------------- */
html,
body {
    width: 100%;
    height: 100%;
}

// Header


main {

  margin:0 auto;
  overflow: hidden;
}


.projects {
  @include center-block;
  width: 100%;
  padding-bottom: $spacing--xl;
  padding-top: $spacing--xl;
}

@media (min-width: 768px) {

  .projects {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

}

@media only screen and (orientation: landscape) {

}
