/* --------------------------
  Scaffolding
--------------------------- */
html,
body {
    width: 100%;
    height: 100%;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
	min-height: 100%;
}

// Header
header {
	grid-area: header;
}

.main-wrapper,
.page-content {
	grid-area: main;
  margin:0 auto;
}

.main-wrapper {
  max-width: 1600px;
}

.page-content{
  max-width: 1200px;
}

footer {
	grid-area: footer;
	grid-column-end: 3;
}

.hero{
	grid-area: hero;
	grid-row: 1 / 2;
}
.projects{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
