.bio{
	position: relative;
	img{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.intro{
		padding: 2rem 0;
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
	}
}

.work{
	grid-area: work;
	border-top: 1px solid $brand-secondary;
	padding-top: 1rem;
}
.project-thumb{
	padding-bottom: 67.5%;
	flex-direction: column;
	position: relative;
	img{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.project-title {
		align-items: center;
		background-color: rgba(0,0,0,.75);
		color: $white;
		display: flex;
		font-size: 1.5rem;
		height: 100%;
		justify-content: center;
		opacity: 0;
		position: absolute;
		transition: opacity .2ms;
		vertical-align: middle;
		width: 100%;
	}
	&:hover {
		.project-title {
			opacity: 50;
			transition: opacity .2s ease;
		}
	}
}