header {
	background-color: $black;
	text-align: center;
  font-family: $font-family-display;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	z-index: 10;
}

.logo {
	color: $white;
	font-size: 1rem;
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: .5rem;
  text-align: center;
  	h1 , svg {
  	display: inline-block;
  	vertical-align: middle;
  }
  svg{
  	border-radius: 50%;
  	fill: $white;
  	width: 36px;
  	height: 36px;
  	margin-right: .5rem;
  }
}

nav {
	display: flex;
	margin-bottom: .5rem;
	a {
		align-self: center;
		display: block;
		color: $brand-secondary;
		flex-grow: 1;
		font-size: 1rem;
		font-weight: 800;
		padding: 1rem;
		text-align: center;
		
	}
}

@media (min-width: 768px){
	header{
		flex-direction: row;
		padding: .5rem 1rem;
		.logo{
			justify-self: flex-start;
			margin-right: auto;
		}
	}

	.logo {
	  margin-bottom: 0;
	}
	nav{
		justify-self: flex-end;
		margin-bottom: 0;
		a{
			padding: .5rem 1rem;
		}
	}
}

@media (min-width: 1200px){
	header{
		flex-direction: row;
		padding: 1rem 2rem;
	}

	.logo {
	  margin-bottom: 0;
	}
}