header {
	text-align: center;
  	font-family: $font-display;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	padding: 2rem 0 1rem 0;
	z-index: 10;
}

.logo {
	color: $white;
	font-size: 1rem;
	font-weight: 900;
	text-align: center;
	padding-top: 1rem;
	
	h1,
	svg {
  	vertical-align: middle;
  }

  h1 {
  	font-size: 1.25rem;
  	color: $brand-secondary;
  	letter-spacing: .125rem;
  	margin: 0;
	line-height: 3;
  }

  svg{
  	border-radius: 50%;
  	fill: $white;
  	width: 80px;
  	height: 80px;
  }
}

@media (min-width: 768px){
	header{
		flex-direction: row;
		padding: 1rem 2rem;
		justify-content: center;
	}

	.logo {
	  margin-bottom: 0;

	  svg,
	  h1 {
	  	display: inline-block;
	  }

	  svg {
	  	height: 48px;
	  	width: 48px;
	  	margin-right: 1rem;
	  }

	  h1 {
	  	font-size: 1.5rem;
	  }
	}
	nav{
		justify-self: flex-end;
		margin-bottom: 0;
		a{
			padding: .5rem 1rem;
		}
	}
}

@media (min-width: 1200px){
	header{
		flex-direction: row;
		padding: 1rem 2rem;
	}

	.logo {
	  margin-bottom: 0;
	}
}