header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	z-index: 10;
}

header,
footer {
	flex-shrink: 0;
}

.logo {
	align-items: center;
	color: $white;
	display: flex;
	fill: $white;
	font-size: 1rem;
	padding: .5rem 0;
	text-align: center;

	h1,
	svg {
		display: inline-block;
  }

  h1 {
		display: none;
		font-size: inherit;
		font-weight: 900;
  	letter-spacing: .125rem;
  	margin: 0;
		margin-left: .5em;
  }

  h1 span{
  	border-bottom: .25em solid $brand-secondary;
  	color: $brand-secondary;
		display: block;
		font-size: .625em;
		margin-bottom: auto;
		margin-left: .25em;
		margin-top: .1em;
		text-align: center;
		width: 1.825em;
  }

  svg {
  	border-radius: 50%;
  	height: 1.5em;
  	width: 1.5em;
  }
}

nav {
	display: flex;
	justify-content: space-around;


	a {
		color: $brand-secondary;
		font-size: .875rem;
		font-weight: bold;
		flex-wrap: nowrap;
		letter-spacing: .125em;
		padding: .5rem 0;
		transition: color .5s ease;

		&:not(:last-of-type) {
			margin-right: 2em;
		}

		&:hover {
			color: $white;
		}
	}
}

@media (min-width: 481px) {

	header {
		font-size: 1rem;
	}

	.logo h1 {
		display: flex;
	}

}

@media (min-width: 768px) {

	header {
		flex-direction: row;
	}

	.logo {
		font-size: 1.125em;
	  margin-bottom: 0;
	}

	nav {
		justify-self: flex-end;

		a {
			padding: .5rem 0;
		}
	}
}

@media (min-width: 1200px) {

	.logo {
	  margin-bottom: 0;
	}
}

@media only screen and (orientation: landscape) {
  .logo {
    font-size: 1rem;
  }
}
