/* --------------------------
  Base Styles
--------------------------- */
//--------------------------
// Projects
//--------------------------

.case-study-wrapper {
	max-width: 1200px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1rem;

	h3:before {
		content: "";
		background: $brand-secondary;
		height: 48px;
		width: 400px;
	}
}

.projects {
	margin-bottom: 3rem;
}

.project {
	border-radius: .25em;
	box-shadow: rgba(0,0,0,.4) 0 0 1em 0;
	display: inline-block;
	flex-basis: 100%;
	position: relative;
	overflow: hidden;

	.project_thumbnail-description ,
	img {
		transition: transform .5s ease;
	}

	&:hover {
		box-shadow: rgba(0,0,0,.4) 0 0 2em 0;

		.project_thumbnail-description {
			opacity: 1;
			transition: opacity .25s ease-in;
		}
		img {
			transform: scale(1.02);
		}
	}
}

.project_thumbnail,
.project_thumbnail-description {
	pointer-events: none;
}

.project_thumbnail{
	box-shadow: rgba(0,0,0,.15) 0 0 .5rem .25rem;
	height: auto;
	vertical-align: top;
	width: 100%;
	transition: transform .5s ease;
}

.project_thumbnail-description {
	background: rgba( $black, .7 );
	opacity: 0;
	color: white;
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;

	h2 {
		font-size: 2rem;
		line-height: 1;
	}

	h3 {
		color: $brand-secondary;
		font-size: 1.5rem;
		margin-bottom: 0;
	}
}

.project-description {
	border-bottom: 1px solid #353535;
	padding-bottom: 1em;
	margin-bottom: 2rem;
}

.tags {
	color: rgba(255,255,255,.25);
	font-weight:700;

	li {
		background: rgba(255,255,255,.05);
		border-radius: 1em;
		color: $white;
		display: inline-block;
		font-size: .75em;
		margin-bottom: .25rem;
		margin-left: .25em;
		padding: .125rem .5rem;
	}
}

.section-split {
	flex-direction: column;
}

.section-split,
.section-full,
.seciton--thirds {
	margin-bottom: 2rem;
}

.section-full {
	margin-bottom: 2em;
	width: 100%;
}

.section-images {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	img{
		box-shadow: rgba(0,0,0,.5) 0 0 1em;
		margin-bottom: 1rem;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

.image-group {
	display: flex;
	margin-bottom: rvr(2);
	flex-direction: column;
}

.introduction {
	color: $brand-secondary;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
}

.btn--text{
	color: $brand-secondary;
}

@media (min-width: 768px) {

	.projects {
		grid-template-columns: 1fr 1fr;
	}

	.section-split {
		flex-direction: row;
	}

	.section-split--left{
			min-width: 40%;
			padding-right: 2rem;
	}

	.text-lockup {
		h3 {
			font-size: 1.5em;
			text-transform: uppercase;
		}
	}

	.hero-image {
		margin-bottom: 4em;
	}

	.list--inline {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		li {
			display: inline-block;
			max-width: 48%;
			padding-right: 2rem;
			margin-bottom: 1.6rem;
		}
	}

	.image-group {
		flex-direction: row;
		flex-wrap: wrap;
		img {
			width: 450px;
			max-width: 100%;
		}
	}
}

@media (min-width: 1200px) {
	.projects {
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 4rem;
	}

	.section-split--left,
	.section-split--right {
		max-width: 50%;
	}

	.section-split--left {
		padding-right: 4em;
	}

}
