//--------------------------
// Projects
//--------------------------

.project {
	border-radius: .5em;
	box-shadow: rgba(0,0,0,.1) 0 .25rem 1em 0;
	position: relative;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);

	.project_thumbnail-description {
		background: $brand-primary;
		bottom: 0;
		color: $white;
		left: 50%;
		animation-name: newplace;
	  animation-duration: 1s;
	  animation-fill-mode: forwards;
	  animation-delay: 3s;
	  animation-timing-function: ease;
	  max-height: 0px;
		padding: .5rem 1rem 0;
		position: absolute;
		transform: translateX(-50%);
		width: max-content;

		p {
			font-size: $font-size--s;
			font-weight: 700;
			line-height: 1.5em;
			margin-bottom: 0;
			text-transform: uppercase;
			transition: transform .25s ease-in, opacity .25s ease-in;
		}
	}

	@keyframes newplace {
	  0% {
	    max-height: 0px;
			opacity: 0;
			transform: translateY(-100%);
	  }
	  100% {
			opacity: 0;
			transition: transform .25s ease-in, opacity .25s ease-in;
			transform: translateY(100%);
	  }
	}
	@media (hover: hover) {
		.project_thumbnail-description {
			opacity: 0;
			max-height: 0;
			transition: max-height .25s ease-in;
			p {
				opacity: 0;
				transition: transform .25s ease-in, opacity .25s ease-in;
				transform: translateY(100%);
			}
		}

		&:hover,
		&:focus {

			.project_thumbnail-description {
				max-height: 50px;
				opacity: 1;
				transition: max-height .25s ease-in;

				p {
					opacity: 1;
					transform: translateY(0);
					transition: transform .25s ease-in, opacity .25s ease-in;
				}
			}

			img {
				transform: scale(1.04);
			}
		}
	}
}

// Focus State
a.project{
	transform: border-color .5s ease, padding .5s ease;

	&:focus {
		outline: none;
		border-bottom: 0;
		border-color: transparent;
	}
}

.project_thumbnail,
.project_thumbnail-description {
	pointer-events: none;
}

.project-thumbnail {
	height: auto;
	transition: transform .5s ease;
	min-width: 100%;
}

.project-thumbnail-description {
	align-items: center;
	background: rgba( $black, .7 );
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;

	h2 {
		font-size: 2rem;
		line-height: 1;
	}

	h3 {
		color: $brand-secondary;
		margin-bottom: 0;
	}
}

.case-study-wrapper {
	max-width: 1200px;
	padding: 2rem 5% 0 5%;
}

.project_title {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
}

.project_subtitle {
	color: $brand-secondary;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.project-tags {
	color: rgba(255,255,255,.25);
	font-weight:700;

	li {
		color: $light-gray;
		display: inline-block;
		font-size: .75em;
		margin-bottom: .25rem;
		margin-right: 1rem;
		text-transform: uppercase;
	}
}

.section {
	margin-bottom: calc(#{$spacing--xl} + #{$spacing--m});
	margin-top: calc(#{$spacing--xl} + #{$spacing--m});

	h3 {
		font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .125em;
		font-weight: bold;
		margin-bottom: $spacing--l;
		color: $brand-secondary;
	}

	h3:before {
		background: $brand-secondary;
		content: "";
		display: block;
		height: 4px;
		margin-bottom: $spacing--m;
		width: 10%;
	}
}

.section-images {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	img{
		margin-bottom: 1rem;
		@include center-block;
		max-width: 800px;
	}
}

.image-group {
	display: flex;
	flex-direction: column;
	margin-bottom: rvr(2);
}

@media (min-width: 768px) {

	.project_title {
		font-size: 3rem;
	}

	.section {
		h3 {
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}

	.list--inline {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			display: inline-block;
			margin-bottom: 1.6rem;
			max-width: 48%;
			padding-right: 2rem;
		}
	}

	.image-group {
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: $spacing--xl;

		img {
			max-width: 100%;
			margin: $spacing--m;
			width: 450px;
		}
	}
}

@media (min-width: 1200px) {

}
