//--------------------------
// Projects
//--------------------------

.project {
	border-radius: .5em;
	box-shadow: rgba(0,0,0,.1) 0 .25rem 1em 0;
	position: relative;
	overflow: hidden;

	&:hover {
		// box-shadow: rgba(0,0,0,.2) 0 0 1em 0;

		.project_thumbnail-description {
			// opacity: 1;
			transition: opacity .25s ease-in;
		}

		img {
			transform: scale(1.02);
		}
	}

	.project_thumbnail-description,
	img {
		transition: transform .5s ease;
	}
}

.project_thumbnail,
.project_thumbnail-description {
	pointer-events: none;
}

.project-thumbnail {
	height: auto;
	transition: transform .5s ease;
	min-width: 100%;
}

.project-thumbnail-description {
	align-items: center;
	background: rgba( $black, .7 );
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;

	h2 {
		font-size: 2rem;
		line-height: 1;
	}

	h3 {
		color: $brand-secondary;
		margin-bottom: 0;
	}
}

.case-study-wrapper {
	max-width: 1200px;
	padding: 2rem 5% 0 5%;
}

.project_title {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.5;
	margin: 0;
}

.project_subtitle {
	color: $brand-secondary;
	font-size: 1.5em;
	margin-bottom: .5rem;
}

.project-description {
	border-bottom: 1px solid $brand-tertiary;
	margin-bottom: $spacing--m;
	padding-bottom:$spacing--m;
}

.project-tags {
	color: rgba(255,255,255,.25);
	font-weight:700;

	li {
		color: $light-gray;
		display: inline-block;
		font-size: .75em;
		margin-bottom: .25rem;
		margin-right: 1rem;
		text-transform: uppercase;
	}
}

.section {
	margin-bottom: $spacing--xl;
	margin-top: $spacing--xl;

	h3:before {
		background: $brand-darken-tertiary;
		content: "";
		display: block;
		height: 1px;
		margin-bottom: $spacing--m;
		width: 10%;
	}
}

.section-images {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	img{
		margin-bottom: 1rem;
		@include center-block;
		max-width: 800px;
	}
}

.image-group {
	display: flex;
	flex-direction: column;
	margin-bottom: rvr(2);
}

@media (min-width: 768px) {

	.project_title {
		font-size: 3rem;
	}

	.section {
		h3 {
			font-size: 2rem;
			text-transform: uppercase;
		}
	}

	.list--inline {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			display: inline-block;
			margin-bottom: 1.6rem;
			max-width: 48%;
			padding-right: 2rem;
		}
	}

	.image-group {
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: $spacing--xl;

		img {
			max-width: 100%;
			margin: $spacing--m;
			width: 450px;
		}
	}
}

@media (min-width: 1200px) {

}
