.social_link {
	border-radius: 50%;
	display: inline-block;
	margin: 0 $spacing--s;

	a {
		display: block;
		height: 44px;
		padding: .5rem;
		text-align: center;
		width: 44px;

		&:focus {
			svg{
				fill: white;
			}
		}
	}

	svg {
	 	fill: $brand-secondary;
		height: 100%;
		transition: fill .5s ease;
		width: 100%;
	}

	&:hover {
		svg {
			fill: $white;
			transition: fill .5s ease;
		}
	}

}

//--------------------------
// Media Queries
//--------------------------

@media screen and (min-width: 768px) {

  .social_link {
  	a {
  		height: 40px;
  		width: 40px;
  	}
  }
}
