$font-display: 'Brandon-Grotesque', futura, sans-serif;
$font-primary: 'Museo-Slab', serif;

h3 {
	color: $brand-secondary;
	font-size: $font-size--m;
	font-weight: 100;
	margin-bottom: 1.25rem;
	text-transform: uppercase;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
}

.center {
	text-align: center;
}

.label {
	color: #AAA;
	font-size: .625rem;
	margin-bottom: 0;
	margin-top: .5rem;
	text-transform: uppercase;
}

.text--credit {
	color: $brand-secondary;
	display: block;
	font-size: .75em;
	margin-top: .5em;
}

.link {
	color: $brand-secondary;
}

@media (min-width: 768px){

}

@media (min-width: 1200px){

}
