$font-display: 'Brandon-Grotesque', san-serif;
/*$font-display: 'Merriweather', san-serif;*/
$font-primary: 'Museo-Slab', serif;

.font-size-small {
	font-size: .75rem;
}

.font-size-regular {
	font-size: 1rem;
}

.font-size-large {
	font-size: 1.5rem;
}

.headline {
	color: black;
	font-size: 2.25rem;
  font-family: $font-primary;
  font-weight: 900;
  letter-spacing: .25rem;
  line-height: 4rem;

  h1 {
  	margin: 0;
  }
}

h3 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

p {
	font-size: 1em;
	margin-bottom: 1em;
}

.project_title {
	font-size: 2em;
}

.project_subtitle {
	font-size: 1.25em;
  margin-bottom: 1rem;
  padding-bottom: 1em;
  color: #c3c1a0;
  border-bottom: 2px solid #353535;
}

@media (min-width: 768px){
  .headline {
    font-size: 3rem;
    letter-spacing: .25rem;
    line-height: 5.5rem;
  }
}
