//--------------------------
// Typography
//--------------------------

$font-size--s: .75rem;
$font-size--m: 1rem;
$font-size--l: 2rem;
$font-size--xl: 3rem;

//--------------------------
// Spacing
//--------------------------

$spacing--s: .5rem;
$spacing--m: 1rem;
$spacing--l: 1.5rem;
$spacing--xl: 3rem;

//--------------------------
// Colors
//--------------------------

$black: #1a151b;
$white: #FFF;
$brand-primary: #1b161c;
$brand-secondary: #AF7247;
$brand-tertiary: #f6f6f6;
$brand-darken-tertiary: darken($brand-tertiary, 10%);
$light-gray: #bbbcce;

//--------------------------
// Breakpoints
//--------------------------

$breakpoint-medium: "(min-width: 768px)";
$breakpoint-large: "(min-width: 1200px)";

//--------------------------
// Mixins
// --------------------------

@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}
