//--------------------------
// Typography
//--------------------------

$font-size--s: .75rem;
$font-size--m: 1rem;
$font-size-l: 1.5rem;
$font-size--xl: 3rem;

//--------------------------
// Spacing
//--------------------------

$spacing--s: .5rem;
$spacing--m: 1rem;
$spacing--l: 1.5rem;
$spacing--xl: 3rem;

//--------------------------
// Colors
//--------------------------

$black: #1a151b;
$white: #FFF;
$brand-primary: #1a151b;
$brand-secondary: #AF7247;
$light-gray: #C1C1BC;
$medium-gray: #7F807C;
$darker-gray: #41413D;

//--------------------------
// Breakpoints
//--------------------------

$breakpoint-medium: "(min-width: 768px)";
$breakpoint-large: "(min-width: 1200px)";
