.social_link {
	border-radius: 50%;
	display: inline-block;

	a {
		display: block;
		height: 44px;
		padding: .5rem;
		text-align: center;
		width: 44px;
	}

	svg {
	 	fill: $brand-primary;
		height: 100%;
		width: 100%;
	}

}

//--------------------------
// Media Queries
//--------------------------

@media screen and (min-width: 768px) {

  .social_link {
  	a {
  		height: 48px;
  		width: 48px;
  	}
  }
}
