<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="container-fluid">
    <div class="column-v-flex">
      {%- include header.html -%}
      <div class="body-content" aria-label="content">
      	<div class="hero row">
          <div class="col-md-10 offset-md-1 col-xl-10 offset-xl-1">
        		<h1 class="headline">
              Designing digital experiences at
              <a href="https://www.untappd.com" class="link">Untappd</a>
        	  </h1>
        		<p>Hello, I'm Ian Steele. I am a digital product designer from southern Illinois. Previously I have worked at
        			<a href="https://www.learnzillion.com">LearnZillion</a>,
        			<a href="https://www.kohactive.com">
        				kohactive
        			</a>, and
        			<a href="https://www.commandtransportation.com">Command
        			Transportation</a>.
        		</p>
          </div>
          <img  src="/assets/img/hero.svg" alt="Consider yourself lucky you can't see this ugly mug">
          <div class="row caret">
          </div>
      	</div>
      	<div class="projects row" id="work">
          {%- assign sorted_projects = site.projects | sort: 'order' -%}
          {%- for project in sorted_projects -%}
          {%- if project.url -%}
            <div class="col-md-6 col-xl-3">
              <a href="{{ project.url }}" class="project">
                <img class="project-thumbnail" src="{{ project.thumbnail}}" alt="">
                <!-- <span class="project_thumbnail-description">
                  <h2>{{ project.title }}</h2>
                  <h3>{{ project.subtitle }}</h3>
                </span> -->
              </a>
            </div>
          {%- endif -%}
          {%- endfor -%}
      	</div>
      </div>
      {%- include footer.html -%}
    </div>
  </body>
</html>
