<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="">
    {%- include header.html -%}
    <div class="container-fluid body-content" aria-label="content">
    	<div class="hero row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
      		<img  src=/assets/img/ian.png alt="Consider yourself lucky you can't see this ugly mug">
      		<h1 class="headline">
            Designing digital experiences at
            <a href="https://www.untappd.com" class="link">Untappd</a>.
      	  </h1>
      		<p class="col-md-8">Hello, I'm Ian Steele. I am a digital product designer from southern Illinois. Previously I have worked at
      			<a href="https://www.learnzillion.com">LearnZillion</a>,
      			<a href="https://www.kohactive.com">
      				kohactive
      			</a>, and
      			<a href="https://www.commandtransportation.com">Command
      			Transportation</a>.
      		</p>
        </div>
    		<div class="row caret">
    		</div>
    	</div>
    	<div class="projects row" id="work">
      {%- assign sorted_projects = site.projects | sort: 'order' -%}
      {%- for project in sorted_projects -%}
      {%- if project.url -%}
        <div class="col-md-6 col-lg-3">
          <a href="{{ project.url }}" class="project project__manual-grading">
            <img class="project-thumbnail" src="{{ project.thumbnail}}" alt="">
            <!-- <span class="project_thumbnail-description">
              <h2>{{ project.title }}</h2>
              <h3>{{ project.subtitle }}</h3>
            </span> -->
          </a>
        </div>
      {%- endif -%}
      {%- endfor -%}
    	</div>
    </div>
    {%- include footer.html -%}
  </body>
</html>
